{% extends 'base.html.twig' %}

{% block title 'Posez votre question' %}

{% block body %}
    <h1>Posez votre question</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button>Envoyer</button>
    {{ form_end(form) }}

    <a href="{{ path('questions') }}" target="_blank">Liste des questions</a>
{% endblock %}