{% extends 'base.html.twig' %}

{% block title 'Posez votre question' %}

{% block body %}
    <div class="container mt-5">
        <h1>Posez votre question</h1>
        <div class="col-md-4">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">Envoyer</button>
            {{ form_end(form) }}
            <a class="btn btn-info mt-2" href="{{ path('questions') }}">Liste des questions</a>
        </div>
    </div>
{% endblock %}